/*

   Rooeda Studio 2019

   Author: www.rodrigo-villa.com
   Text Domain: rooeda
   Domain Path: /languages
   Description: Indoor Cycling Studio
   Version: 1.0.0

   Thanks :)

----------------------------------------------------------------------------- */

body, html{
   width: 100%;
   height:100%;
   padding: 0;
   margin: 0;
   font-size: 22px;
   border: none;
   text-decoration: none;
   text-align: center;
   outline: none;
   cursor: default;
   letter-spacing: 1px;
   font-family: 'Dosis', sans-serif;
   background: #FFF;
}
body[data-type='prototypes'], html[data-type='prototypes'] { background: #808080; }
body[data-type='code'], html[data-type='code'] { background: #111111; }
::selection { 
   color: #FFF;
   background: #FD7A3D; 
}
img {
   text-decoration: none;
   outline: none;
   border: none;
}
a { color:#0070FF; cursor: pointer; }
a:hover { color:#44BE45; }
a:focus {
   outline: none;
   text-decoration: none;
}
p {
   font-size: 1.20vw;
   line-height: 150%;
   text-align: left;
   cursor: default;
   font-weight: 300;
   font-family: 'Muli', sans-serif;
}
strong { font-weight: 800; }

h1 {
   margin-bottom: -20px;
   text-align: center;
   font-size: 8vw;
   line-height: 100%;
   cursor: default;
   font-weight: 900;
   font-family: 'Roboto', sans-serif;
}

h2 {
   text-align: center;
   margin-top: 10px;
   margin-bottom: 10px;
   margin-left: 0px;
   font-size: 6.5vw;
   line-height: 100%;
   cursor: default;
   font-weight: 900;
   font-family: 'Roboto', sans-serif;
}

h3 {
   text-align: center;
   margin-top: 10px;
   margin-bottom: 30px;
   font-size: 4.5vw;
   line-height: 100%;
   cursor: default;
   font-family: 'Roboto', sans-serif;
}
h4 {
   text-align: center;
   margin-top: 10px;
   margin-bottom: 8px;
   font-size: 3.5vw;
   line-height: 100%;
   cursor: default;
   font-weight: 900;
   font-family: 'Roboto', sans-serif;
}
h5 {
   text-align: center;
   margin-top: 10px;
   margin-bottom: 8px;
   font-size: 2.5vw;
   line-height: 100%;
   cursor: default;
   font-weight: 900;
   font-family: 'Roboto', sans-serif;
}
.logo { width: 7.5%; }
.block {
   color: #FFF;
   text-align: center;
   margin-left:auto;
   margin-right:auto;
   width: 100%;
   height: 100vh;
   background: #CACBC6 url('./img/comingsoon_rooeda.png');
   background-repeat: no-repeat;
   background-position: 0% 100%;
   background-size: contain;
}

#big {
   width: 100vw;
}

/* Alignments --------------------------------------------------------------- */
.align-bottom {
   position: absolute;
   right: 0;
   bottom: 2.5%;
   left: 0;
}
.align-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media only screen and (min-width:768px) {
   #medium { display: none; }
}
@media only screen and (max-width:768px) {
   .logo { width: 15%; }
   .block { background-size: 65%; }
   #medium { width: 100vw; }
   #big { /* display: none; */ }
}
@media only screen and (max-width:768px) and (orientation:landscape) {
   .logo { width: 10%; }
}
#small {
   width: 100vw;
}


/* 1200px to 320px grid and Normalize.css ----------------------------------- */
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}
audio,canvas,video{display:inline-block}
audio:not([controls]){display:none;height:0}
[hidden]{display:none}
html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
body{margin:0}
a:focus{outline:thin dotted}
a:active,a:hover{outline:0}
a{text-decoration: none;}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:bold}
dfn{font-style:italic}
hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}
mark{background:#ff0;color:#000}
code,kbd,pre,samp{font-family:monospace, serif;font-size:1em}
pre{white-space:pre-wrap}
q{quotes:"\201C" "\201D" "\2018" "\2019"}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-0.5em}
sub{bottom:-0.25em}
img{border:0}
svg:not(:root){overflow:hidden}
figure{margin:0}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em}
legend{border:0;padding:0}
button,input,select,textarea{font-family:inherit;font-size:100%;margin:0}
button,input{line-height:normal}
button,select{text-transform:none}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}
button[disabled],html input[disabled]{cursor:default}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
textarea{overflow:auto;vertical-align:top}
table{border-collapse:collapse;border-spacing:0}

/* Clearfix by Nicolas Gallagher -------------------------------------------- */
.row:before,.row:after,.clearfix:before,.clearfix:after{content:'';display:table}
.row:after,.clearfix:after{clear:both}
.row,.clearfix{zoom:1}

/* Gridiculous -------------------------------------------------------------- */
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box}
body{font-size:100%;}
.grid{margin:0 auto;max-width:100%;width:100%}
img{max-width:100%;height:auto;display:block;margin-left:auto;margin-right:auto}
.wfull{width:100%;max-width:100%}
.w320{max-width:320px}
.w640{max-width:640px}
.w960{max-width:960px}
.row{width:100%;margin-bottom:0}
.row .row{width:auto;margin:0}
.c1{width:8.33%}
.c2{width:16.66%}
.c3{width:25%}
.c4{width:33.33%}
.c5{width:41.66%}
.c6{width:50%}
.c7{width:58.33%}
.c8{width:66.66%}
.c9{width:75%}
.c10{width:83.33%}
.c11{width:91.66%}
.c12{width:100%}
.c1,.c2,.c3,.c4,.c5,.c6,.c7,.c8,.c9,.c10,.c11,.c12{min-height:1px;float:left;padding-left:0px;padding-right:0px;position:relative}
.s1{margin-left:8.33%}
.s2{margin-left:16.66%}
.s3{margin-left:25%}
.s4{margin-left:33.33%}
.s5{margin-left:41.66%}
.s6{margin-left:50%}
.s7{margin-left:58.33%}
.s8{margin-left:66.66%}
.s9{margin-left:75%}
.s10{margin-left:83.33%}
.s11{margin-left:91.66%}
.end{float:right!important}

/* Media query for 960 Screens ---------------------------------------------- */
@media only screen and (max-width:960px){
.row .row .c1,.row .row .c2,.row .row .c3,.row .row .c4,.row .row .c5,.row .row .c6,.row .row .c7,.row .row .c8,.row .row .c9,.row .row .c10,.row .row .c11,.row .row .c12{width:100%;margin-bottom:0}
.row .row > div:last-child{margin-bottom:0 !important}
}

/* Media query tablets ------------------------------------------------------ */
@media handheld, only screen and (max-width: 768px), only screen and (max-device-width: 768px) and (orientation:portrait){
body{font-size:90%}
.row{margin-bottom:0 !important}
.c1,.c2,.c3,.c4,.c5,.c6,.c7,.c8,.c9,.c10,.c11,.c12{width:100%;margin-right:0;margin-left:0;margin-bottom:0}
}
